.navbar-inverse {
 background-color:rgb(33, 161, 33);

} 
.navbar-inverse .navbar-nav>.active>a{
 background-color:rgb(39, 39, 141);


}
.navbar-inverse .navbar-nav>li>a{
  color:white;
}

.navbar-inverse .navbar-brand{
  color:white;
}

.navbar-inverse .navbar-nav>.active>a:hover{
  background-color:darkorange;
} 